@font-face {
  font-family: "Montserrat";
  src: url("res/fonts/Montserrat-VariableFont_wght.ttf") format("truetype"); /* Replace 'path/to/your/font.ttf' with the actual path to your font file */
}

* {
  font-family: "Montserrat", Arial;
}

html,
body {
  margin: 0px 0px;
}

.wall {
  margin: auto;
  max-width: 750px;
  padding-inline: 15px;
}

.cover {
  height: 200px;
  width: 100%;
  background-color: rgb(128, 0, 128);
  background-image: url(res/bg.png);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  background-color: rgb(255, 232, 245);
}

.profile-pic {
  width: 180px;
  margin-top: -100px;
  border-radius: 50%;
  border: 5px solid rgb(255, 232, 245);
}

.name {
  font-size: 16pt;
  margin-block: 5px;
  font-weight: 600;
}

.top-icon-bar {
  font-size: 12pt;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  color: purple;
}

.top-icon-bar-content {
  margin-block: 4px;
}

.desc {
  font-size: 11.9pt;
  text-align: justify;
}

.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16pt;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(108, 0, 250, 0.411); /* Shadow effect */
  transition: transform 0.3s;
}

.button:hover {
  transform: translateY(-5px);
}

.section-title {
  font-size: 16pt;
  font-weight: 500;
}

.card-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 0px;
  justify-items: center;
}

.card {
  box-shadow: 0px 4px 8px rgba(108, 0, 250, 0.411); /* Shadow effect */
  border-radius: 8px;
  width: 100%;
}

.card-pic {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  padding-inline: 6px;
  text-align: center;
}

.tile {
  position: relative;
  height: 250px;
  width: 100%;
}

.tile-title {
  position: absolute;
  font-weight: 600;
  bottom: 8px;
  left: 8px;
  margin: 0px;
  opacity: 0;
  transition: opacity 0.2s;
}

.tile:hover > .tile-title {
  opacity: 1;
}

.play-button {
  opacity: 0;
  transition: opacity 0.2s;
}

.tile:hover .play-button {
  opacity: 1;
}

.tile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.bottom-area {
  background-color: rgb(255, 232, 245);
  margin-top: 25px;
  padding-block: 25px;
}

.wall.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.social-area {
  display: flex;
  justify-content: right;
  font-size: 25pt;
  gap: 15px;
  color: purple;
  align-items: center;
}

.float-bar {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  height: fit-content;
  padding: 10px;
  background-color: rgba(148, 0, 148, 0.8);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.small.button {
  padding-inline: 10px;
  max-width: fit-content;
  justify-self: right;
  background-color: white;
  color: purple;
  box-shadow: none;
  font-size: 12pt;
  font-weight: 500;
}

.top-pic {
  height: 40px;
  display: inline;
  border-radius: 50%;
  border: 2px solid white;
}

.top-name {
  display: inline;
  font-weight: 500;
  color: white;
}

.profile-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hidden-element {
  opacity: 0;
  transition: opacity 0.2s ease; /* optional: add transition for smooth appearance */
}

.play-cover {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
  transition: background-color 0.2s;
  border-radius: 8px;
}

.play-cover:hover {
  background-color: rgba(128, 0, 128, 0.4);
}

.link {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .card-area {
    grid-template-columns: 1fr 1fr;
  }
  .card-area.small {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 420px) {
  .card-area {
    grid-template-columns: 1fr;
  }
}
